*.pyc
*.jpg
bin
build
CMakeFiles
CMakeCache.txt
Makefile
cmake_install.cmake
msg_gen
srv_gen
rosWorkspace/SubImageRecognition/src/SubImageRecognition
rosWorkspace/USUbConsole/Makefile
rosWorkspace/USUbConsole/USUbConsole
rosWorkspace/USUbConsole/src/moc_ClickableLabel.cxx
rosWorkspace/USUbConsole/src/moc_SubConsole.cxx
rosWorkspace/USUbConsole/src/moc_attitude_indicator.cxx
rosWorkspace/USUbConsole/ui_SubConsole.h
*.save
*.cbp
